<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React + Node.js App</title>
    <link rel="stylesheet" href="<%= assets["client.css"] %>" />
  </head>
  <body>
    <div id="root"><%- component %></div>
    <script>
      window.__REACT_QUERY_STATE__ = <%= queryState %>
    </script>
    <script defer="defer" src="<%= assets["client.js"] %>"></script>
  </body>
</html>